/* Navbar */
.dropdown-menu-arrow::before {
	content: "";
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    transform: translateX(-50%);
}

.dropdown-item.active, .dropdown-item:active {
	background-color: var(--bs-danger);
}

.menu-ellipsis {
	cursor: pointer;
}

.menu-ellipsis:hover {
	color: var(--bs-danger);
}

@media (min-width: 992px) {
	.cust-info {
		border-right: 1px solid var(--bs-border-color);
	}
}