/* Dropdown menu pointing arrow */
.dropdown-menu-arrow::before {
	content: "";
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid var(--bs-danger);
    transform: translateX(-50%);
}

/* Navbar */
.navbar { 
	padding: 15px 0 15px 0 !important;
	opacity: 0.9;
}

.home-carousel .carousel-item, .home-carousel .carousel-item img{
    height: 400px;
}

.carousel-item img{
    object-fit: cover;
    width: 100%;
}

.home-carousel .carousel-item h4.carousel-desc {
	margin: 15px 0;
}

#loginCarousel .carousel-control-next,
#loginCarousel .carousel-control-prev {
    filter: invert(100%);
}

.img-btn {
	max-width: 70px;
	max-height: 70px;
}

.card-btn {
    box-shadow: var(--button-shadow);
    transition: all 0.5s ease;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    overflow: hidden;
}

.card-btn:hover {
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
}

.card-hover {
	transition: 0.5s;
}
.card-hover:hover {
	box-shadow: var(--button-shadow);
}

.useful-link {
	color: white;
	text-decoration: none;
}

.track-app-bg {
	background-image: url("../images/basePortal/trackApplication/TrackAppBackground.jpg");
	background-size: cover;
	border-radius: 0 12px 12px 0;
}

.login-bg {
	background-image: url("../images/basePortal/login/ScamAlert.png");
	background-size: cover;
	border-radius: 0 12px 12px 0;
}