:root {
	--bs-navbar-hover-color: var(--bs-danger);
	--bs-link-hover-color: var(--bs-danger);
	--button-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	--bs-dropdown-link-active-bg: var(--bs-danger);
}


/* Navbar */

.navbar .navbar-brand {
	padding-right: 20px;
}

.navbar .nav-link {
	font-weight: 600;
}

.navbar .navbar-nav .nav-item {
	padding: 0 10px;
}

.navbar-nav .nav-item.active .nav-link {
	font-weight: bold;
}

.navbar .nav-item.active .nav-link,
.navbar .nav-item:hover .nav-link {
    color: var(--bs-danger);
}

.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item:hover .nav-link {
    color: white;
    font-weight: bold;
}

/* Inline Dropdown */

.dropdown-inline {
    margin-right:-1000px !important;
    background-color: var(--bs-danger);
    padding: 30px 0;
    min-width: 500px;
    left: 50% !important;
    transform: translateX(-50%) !important;
}

.dropdown-inline li {
    display: inline-block !important;
    flex-basis: 33%;
    padding: 0 10px;
    border-right: 1px solid white;
}

.dropdown-inline .dropdown-item {
	color: white;
	text-align: center;
}

.dropdown-inline li:last-child {
	color: white;
	border-right: none;
}

.dropdown-inline .dropdown-item:hover, .dropdown-inline .dropdown-item:focus {
	background-color: transparent;
	font-weight: bold;
}

/* Carousel */
.carousel-caption-left {
	text-align: left;
	width: 80%;
}

@media (min-width: 992px) { 
	.carousel-caption-left {
		text-align: left;
		width: 40%;
	}
}

.carousel-caption-middle {
	bottom: initial;
	top: 50%;
	transform: translateY(-50%);
}


/* Form */
.form-control:focus, .form-select:focus {
  border: 2px solid black;
  box-shadow: none;
}

.form-check-input:focus {
	box-shadow: none;
}

/* Navs and Tab */
.nav-tab-category {
	color: var(--bs-navbar-color);
}

.nav-pills .nav-link {
	color: black;
	box-shadow: var(--button-shadow);
	
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: var(--bs-danger);
}

/* Card */
.card-shadow {
    box-shadow: var(--button-shadow);
    border-radius: 12px;
}

.card-btn {
    box-shadow: var(--button-shadow);
    transition: all 0.5s ease;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    overflow: hidden;
}

.card-btn:hover {
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
}

.card-hover {
	transition: 0.5s;
}

.card-hover:hover {
	box-shadow: var(--button-shadow);
}

/* Modal Confirm */
.modal-confirm .modal-header {
	border: none;
}

.modal-confirm .modal-footer {
	border: none;
}

/* Button */
.btn-close:focus {
	box-shadow: none;
}

/* Pagination */
.pagination {
	--bs-pagination-bg:
	--bs-pagination-border-color: #e6dede;
	--bs-pagination-color: var(--bs-danger);
	--bs-pagination-active-bg: var(--bs-danger);
	--bs-pagination-active-border-color: var(--bs-danger);
	--bs-pagination-hover-bg: #efe9e9;
	--bs-pagination-hover-border-color: #e6dede;
	--bs-pagination-focus-bg: #efe9e9;
	--bs-pagination-disabled-border-color: #e6dede;
	--bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgb(253 13 13 / 25%);
}

/* Circle Dot */
.dot {
height: 10px;
width: 10px;
border-radius: 50%;
display: inline-block;
}

.error {
	color: var(--bs-danger);
}